<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% csrf_token %}
        <h1>User List</h1>
        <button><a href="../adduser/">Add User</a></button>
        <table>
            <tr>
                <th>User Name</th>
                <th>Email ID</th>
                <th>Contact Number</th>
                <th>Edit Status</th>
                <th>Delete Status</th>
            </tr>
            {% for user in user1 %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contact}}</td>
                <td><button><a href="../edituser/{{user.id}}">Edit</a></button></td>
                <td><button><a href="../deleteuser/{{user.id}}">Delete</a></button></td>
            </tr>
                
            {%endfor %}
        </table>
        
    </body>
</html>